body {
    background-image: radial-gradient(white, black);
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    margin: 0
}

.macEffect {
    color: white;
    background-image: linear-gradient(to top, lightgrey, grey);
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 3px 3px #a3a3a3;
}

#menu-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 1%;
    width: 450px;
    height: 60px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1%;
    border: black solid;
    border-radius: 50px; 
    padding: 10px;
    font-weight: bold;
}

.btns {
    background-image: linear-gradient(lightgrey 40%, grey);
    border: solid;
    border-radius: 200px;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 1px 1px #8d8d8d;
}

.btns2 {
    padding: 20px;
    font-size: 20px;
}

.btns:hover {
    background-image: linear-gradient(darkgrey, #818080);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#main-title-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textTitle {
    font-size: 50px;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-shadow: 4px 4px #343434;
}

#timer {
    font-size: 40px;
}

#sub-head {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 2em;
    text-shadow: 3px 3px #252525;
}

main {
    background-color: white;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 20%;
    width: 450px;
    font-size: 33px;
}

#state-box {
    display: flex;
    height: 950px;
    width: 897px;
    flex-direction: column;
    flex-wrap: wrap;
    border-bottom: solid;
    border-left: solid;
    border-right: solid;
    background-image: radial-gradient(white, black 160%);
}

#entry-box {
    border: black solid;
    width: 196.667%;
    padding: 6px;
}

#label-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 7.5px;
    text-shadow: 3px 3px black;
}

#entry {
    width: 450px;
    border: solid black;
    padding: 4.5px;
    font-size: 27px;
    color:grey;
    text-shadow: 1px 1px black;
}

#enter-btn {
    height: 45px;
    width: 120px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    padding-top: 6px;
    margin-left: 22.5px;
}

.boxes {
    font-family: Arial, Helvetica, sans-serif;
    color: transparent;
    width: 49.65%;
    padding-left: 3px;
    font-weight: 100;
}

.oneBox {
    background-color: #cccbcb;
}

.twoBox {
    background-color: #444444;
}

@keyframes spinBox {
    from {transform: rotate(0) scale(0)}
    to {transform: rotate(1440deg) scale(1)}
}

@keyframes slideLeft {
    from {transform: translateX(2000px)}
    to {transform: translateX(0px)}
}

@keyframes waveRight {
    0% {transform: translate(-1500px, 70px);}
    10% {transform: translate(-900px, 35px);}
    20% {transform: translate(-800px, 0px);}
    30% {transform: translate(-700px, -35px);}
    40% {transform: translate(-600px, -70px);}
    50% {transform: translate(-500px, -35px);}
    60% {transform: translate(-400px, 0px);}
    70% {transform: translate(-300px, 35px);}
    80% {transform: translate(-200px, 70px);}
    90% {transform: translate(-100px, 35px);}
    100% {transform: translate(0px,0px);}
}