body {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

#confetti-btn {
    color: #fff;
    font-size: 1rem;
    background-color: #FF9899;
    text-shadow: 3px 3px #E74C3C;
    border-color: #E74C3C;
    border: 1px solid;
    border-radius: 100px;
    padding: 5px 15px;
    margin-left: 5px;
    line-height: 2.5;
     cursor: pointer;
}

main {
    color: #fff;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-shadow: 10px 10px #ffcba5;
}

#welldone-box{
    background-image: linear-gradient(to top, #fde5b4 0%, #ffcbc4 100%);
    border: solid;
    padding: 100px;
    border-radius: 100px;

}